/* Header */
header img {
  height: 34px;
}

header a {
  color: var(--color-white);
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nav-content {
  padding: 20px;
  background-color: var(--color-blue);
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.btn-nav {
  padding: 8px 12px;
  border-radius: 8px;
}

.btn-nav:hover {
  background-color: var(--color-dark-blue);
}

.nav-active {
  background-color: var(--color-dark-blue);
}

.style-head {
  position: relative;
  height: 40px;
  width: 100%;
  top: -2px;

  background-image: url("/assets/images/utilities/style-head.png");
  background-repeat: repeat-x;
}

/* Footer */
footer img {
  height: 20px;
}

.foot-content {
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.style-foot {
  position: relative;
  height: 40px;
  width: 100%;
  top: 2px;

  background-image: url("/assets/images/utilities/style-foot.png");
  background-repeat: repeat-x;
}

/* Article Card */
.article-card {
  width: 300px;
  padding: 5px;
  border-radius: 12px;
  border: solid 1px transparent;

  overflow-wrap: break-word;
  white-space: normal;

  transition: all 0.3s;
}

.article-card:hover {
  border: solid 1px var(--color-dark);
  transform: scale(0.98);
}

.article-cover {
  width: 100%;
  border-radius: 8px;
}

.article-tag {
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 8px;
  color: var(--color-white);
}

/* Carousel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.carousel-inner {
  transition: all 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 12px;
  margin: 12px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
}

.carousel-control-next {
  right: 0;
}

/* Article Content */
.article-attribute {
  padding: 10px 0px;
  border-bottom: solid 1px var(--color-dark);
}

.article-content {
  max-width: 700px;
  width: 100%;
}

/* Article Comment */
.article-comment {
  padding: 12px;
  border: solid 1px var(--color-dark);
  border-radius: 8px;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

#loading-logo {
  width: 200px;
}

/* Page Title/Tag */
.page-title {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 12px;
  color: var(--color-white);
}

.tag-konbi {
  background-color: var(--color-blue);
}

.tag-archive {
  background-color: var(--color-grey);
}

.tag-gaming {
  background-color: var(--color-tag-gaming);
}

.tag-politique {
  background-color: var(--color-tag-politique);
}

.tag-wtf {
  background-color: var(--color-tag-wtf);
}

.tag-selvi {
  background-color: var(--color-tag-selvi);
}

/* No More */
.no-more {
  width: 200px;
  border-radius: 8px;
}

/* Media */

@media screen and (max-width: 768px) {
  .article-card {
    width: 400px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .article-card {
    width: 300px;
  }
}
