/* Header */
header img {
  height: 34px;
}

header a {
  color: var(--color-white);
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nav-content {
  padding: 20px;
  background-color: var(--color-blue);
}

.btn-nav {
  padding: 8px 12px;
  border-radius: 8px;
}

.btn-nav:hover {
  background-color: var(--color-dark-blue);
}

.nav-active {
  background-color: var(--color-dark-blue);
}

.style-head {
  position: relative;
  height: 40px;
  width: 100%;
  top: -1px;

  background-image: url("/assets/images/utilities/style-head.svg");
  background-repeat: repeat-x;
}

/* Footer */
footer img {
  height: 20px;
}

.foot-content {
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.style-foot {
  position: relative;
  height: 40px;
  width: 100%;
  top: 1px;

  background-image: url("/assets/images/utilities/style-foot.svg");
  background-repeat: repeat-x;
}

/* Article Card */
.article-card {
  width: 300px;
  padding: 5px;
  border-radius: 12px;
  border: solid 1px transparent;

  overflow-wrap: break-word;
  white-space: normal;

  transition: all 0.3s;
}

.article-card:hover {
  border: solid 1px var(--color-dark);
  transform: scale(0.98);
}

.article-cover {
  width: 100%;
  border-radius: 8px;
}

.article-tag {
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 8px;
  color: var(--color-white);
}

/* Page Title/Tag */
.page-title {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 12px;
  color: var(--color-white);
}

.tag-konbi {
  background-color: var(--color-blue);
}

.tag-archive {
  background-color: var(--color-grey);
}

.tag-gaming {
  background-color: var(--color-tag-gaming);
}

.tag-politique {
  background-color: var(--color-tag-politique);
}

.tag-wtf {
  background-color: var(--color-tag-wtf);
}

.tag-selvi {
  background-color: var(--color-tag-selvi);
}

/* No More */
.no-more {
  width: 200px;
  border-radius: 8px;
}

/* Carousel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item articles-cover {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.carousel-caption {
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel-control-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Article Content */
.article-attribute {
  padding: 10px 0px;
  border-bottom: solid 1px var(--color-dark);
}

.article-content {
  max-width: 700px;
  width: 100%;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Fond blanc, change si besoin */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

#loading-logo {
  width: 200px;
}

/* Media */

@media screen and (max-width: 768px) {
  .article-card {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .article-card {
    width: 300px;
  }
}
