/* Flexbox */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Justify */
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* Align */
.align-item-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

/* Gap */
.gap-5 {
  gap: 0.3125rem;
}

.gap-10 {
  gap: 0.625rem;
}

.gap-20 {
  gap: 1.25rem;
}

.gap-50 {
  gap: 3.125rem;
}

.gap-100 {
  gap: 6.25rem;
}

/* Margin */
.mt-20 {
  margin-top: 1.25rem;
}

.mt-200 {
  margin-top: 12.5rem;
}
